{% extends 'base.html' %}
{% load staticfiles %}
    {% block title %} Trade Bot {% endblock %}
    {% block content %}

<header class="header-1" id="particles-js">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="intro-text">
          <h1 class="wow fadeInUp">MyBotTrade - The Bot Built for Your Portfolio</h1>
          <h3 class="wow fadeInUp" style="color:white;">Crypto Trading Bot built for the Long Term</h3>
          <p>Create Passive Income with automated Crypto Trading Bot. Portfolio Planning with Prediction Charts.
              MyBotTrade can be used with multiple marketplaces.</p>
          <p><a class="btn btn-lg btn-white wow tada" href="{% url 'dashboard' %}">View Demo</a></p>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h2 class="section-title text-center">How MyBotTrade</h2>
      </div>
      <div class="col-md-8">
        <p class="text-center">MyBotTrade is both an automated Crypto Trading Bot and a Crypto Prediction chart that takes your account to the next level.  We use standard trading strategies or can customize for your trading style.</p>
      </div>
      <div class="col-md-12">
        <!--<div class="wcu-list">-->
          <!--<ul>-->
            <!--<li class="wow bounceIn">1. Buy Bot </li>-->
            <!--<li class="wow bounceIn" data-wow-delay=".1s">2. Customize </li>-->
            <!--<li class="wow bounceIn" data-wow-delay=".2s">3. Earn Money $$$$ </li>-->
          <!--</ul>-->
        <!--</div>-->
        <div class="wcu-list">
          <ul>
            <li class="wow bounceIn">1. Multiple trading strategies.</li>
            <li class="wow bounceIn" data-wow-delay=".1s">2. Multiple trading markets.</li>
            <li class="wow bounceIn" data-wow-delay=".2s">3. Multiple tools to support your portfolio</li>
          </ul>
        </div>
      </div>
      <!--<div class="col-md-8">-->
        <!--<p class="text-center">Lorem ipsutempor incididunt ut laveniam, quis nostrud exercitation ullamco laboris nisi <br/>-->
          <!--ut aliquip ex ea commodo conseq uat. Duccaecat cupid Cganjam proident, sunt in <br/>-->
          <!--culpa qui officia deserunt molperspiciatis.</p>-->
      <!--</div>-->
    </div>
  </div>
</section>
<section class="section-padding-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h2 class="section-title text-center">Multiple Buy & Sell Strategies</h2>
      </div>
      <div class="col-md-8">
        <h3 class="section-title text-center">Monthly, low cost </h3>
        <!--<p class="text-center">MyBotTrade is both an automated Crypto Trading Bot and a Crypto Prediction chart that takes your account to the next level.  We use standard trading strategies or can customize for your trading style.</p>-->
      </div>
      <div class="col-md-10">
        <h5 class="section-title text-center">Pay in Fiat or Coin</h5>
      </div>

    </div>
  </div>
</section>
<section class="section-padding-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h2 class="section-title text-center">Our Packages</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5" >
        <div class="pricing-1 wow fadeInUp" style="height:450px;">
          <div class="pricing-1-title" >
            <h5>Single Package</h5>
          </div>
          <div class="pricing-1-body">
            <h3>$14.95/month</h3>
            <h4><b>Trade Bot</b></h4>
            <p>can buy using crypto</p>
            <p>Free Support 24/7</p>
            <p>Binance</p>
            <p><a class="btn btn-lg btn-pink" href="#">Purchase</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-5" >
        <div class="pricing-1 wow fadeInUp" style="height:450px;">
          <div class="pricing-1-title">
            <h5>Enhanced Package</h5>
          </div>
          <div class="pricing-1-body">
            <h3>$19.95/month</h3>
            <h4><b>Trade Bot</b></h4>
            <h4><b>TradingView</b></h4>
            <p>can buy using crypto</p>
            <p>Free Support 24/7</p>
            <p>Binance</p>
            <p><a class="btn btn-lg btn-pink" href="#">Purchase</a></p>

          </div>
        </div>
      </div>
      <div class="col-md-5" >
        <div class="pricing-1 wow fadeInUp" >
          <div class="pricing-1-title">
            <h5>Plus</h5>
          </div>
          <div class="pricing-1-body">
            <h3>$24.95/month</h3>
            <h4><b>Trade Bot</b></h4>
            <h4><b>TradingView</b></h4>
            <h4 style="margin-bottom: 0px;"><b>Prediction Charts</b></h4>
            <h6 style="margin-top: 0px;"><b>(daily/weekly)</b></h6>
            <p>Get all strategy to use</p>
            <p>can buy using crypto</p>
            <p>ALL Exchange included and TradingView add-on</p>
            <p>Free Support 24/7</p>
            <p>Binance</p>
            <p><a class="btn btn-lg btn-pink" href="#">Purchase</a></p>

          </div>
        </div>
      </div>
      <div class="col-md-5" >
        <div class="pricing-1 wow fadeInUp">
          <div class="pricing-1-title">
            <h5><b>Extreme</b></h5>
          </div>
          <div class="pricing-1-body">
            <h3>$24.95/month</h3>
            <h4><b>Trade Bot</b></h4>
            <h4><b>TradingView</b></h4>
            <h4 style="margin-bottom: 0px;"><b>Prediction Charts</b></h4>
            <h6 style="margin-top: 0px;"><b>(monthly/yearly)</b></h6>
            <p>Get all strategy to use</p>
            <p>can buy using crypto</p>
            <p>ALL Exchange included and TradingView add-on</p>
            <p>Free Support 24/7</p>
            <p>Binance</p>
            <p><a class="btn btn-lg btn-pink" href="#">Purchase</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h2 class="section-title text-center">Features</h2>
      </div>

      <div class="col-md-8">
        <h4 class="section-title text-center">Download and run</h4>
      </div>
      <div class="col-md-10">
        <h4 class="section-title text-center">Extensive Charts</h4>
      </div>
      <div class="col-md-10">
        <h4 class="section-title text-center">Configure your coins </h4>
      </div>
    </div>
  </div>
</section>
<section class="section-padding-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h2 class="section-title text-center">Testimonials</h2>
      </div>

      <div class="col-md-8">
        <h1 class="section-title text-center">Customers Tell</h1>
      </div>
      <div class="col-md-10">
        <h4 class="section-title text-center">Users MyTadeBot every day and make 24/7 income.</h4>
      </div>
    </div>
  </div>
</section>
<section class="section-padding-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h2 class="section-title text-center">Why MyTradeBot?</h2>
      </div>

      <div class="col-md-8">
        <h3 class="section-title text-center">Ongoing Platform</h3>
        <h3 class="section-title text-center">Free support</h3>
      </div>
      <div class="col-md-10">
        <h3 class="section-title text-center">xxx active traders</h3>
        <h3 class="section-title text-center">50 different strategies</h3>
      </div>
    </div>
  </div>
</section>
<section class="section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h2 class="section-title text-center">Subscribe us</h2>
      </div>
      <div class="col-md-8">
        <div class="subscribe-1">
          <form action="#" method="post">
            <div class="form-group">
              <div class="input-group">

                <input type="text" name="newsletter_email" id="newsletter_email" class="form-control form-control-lg" placeholder="Email Address">
                <span class="input-group-addon">
                <input type="button" onclick="subscribe()" class="btn btn-success btn-lg" value="Subscribe">
                </span> </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function subscribe(){
  if ($('#newsletter_email').val()){
  <!--alert('hello');-->
  $.post("/email_subscribe", {'email':$("#newsletter_email").val()}, function(data){
  <!--alert('Hi');-->
  });
  }
  else{
  alert('please enter email to subscribe');
  }
  }
</script>
{% endblock %}
<!--================================================
                **** JS Files ****
==================================================-->


<!--<script src="{% static 'js/jquery.min.js' %}"></script>-->
<!--<script src="{% static 'js/bootstrap.min.js' %}"></script>-->
<!--<script src="{% static 'js/bootstrap-navbar.js' %}"></script>-->
<!--<script src="{% static 'js/wow.min.js' %}"></script>-->
<!--<script src="{% static 'js/numscroller-1.0.js' %}"></script>-->
<!--<script src="{% static 'js/magnific-popup.min.js' %}"></script>-->
<!--<script src="{% static 'js/jquery.isotope.min.js' %}"></script>-->
<!--<script src="{% static 'js/owl.carousel.js' %}"></script>-->
<!--<script src="{% static 'js/main.js' %}"></script>-->
<!--</body>-->
<!--</html>-->
