{% extends 'base.html' %}
{% load staticfiles %}
    {% block title %} Packages {% endblock %}
    {% block content %}
<header class="header-inner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="intro-text">
          <h1 class="wow fadeInUp">Packages</h1>
          <h6>Home / Our Packages / Grid View</h6>
        </div>
      </div>
    </div>
  </div>
</header>
<style>
small {
    line-height: 0.7;
}

</style>
<section class="section-padding-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h2 class="section-title text-center">Our Packages</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5" >
        <div class="pricing-1 wow fadeInUp" style="height:450px;">
          <div class="pricing-1-title" >
            <h5>Single Package</h5>
          </div>
          <div class="pricing-1-body">
            <h3>$14.95/month</h3>
            <h4><b>Trade Bot</b></h4>
            <p>can buy using crypto</p>
            <p>Free Support 24/7</p>
            <p>Binance</p>
            <p><a class="btn btn-lg btn-pink" href="#">Purchase</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-5" >
        <div class="pricing-1 wow fadeInUp" style="height:450px;">
          <div class="pricing-1-title">
            <h5>Enhanced Package</h5>
          </div>
          <div class="pricing-1-body">
            <h3>$19.95/month</h3>
            <h4><b>Trade Bot</b></h4>
            <h4><b>TradingView</b></h4>
            <p>can buy using crypto</p>
            <p>Free Support 24/7</p>
            <p>Binance</p>
            <p><a class="btn btn-lg btn-pink" href="#">Purchase</a></p>

          </div>
        </div>
      </div>
      <div class="col-md-5" >
        <div class="pricing-1 wow fadeInUp" >
          <div class="pricing-1-title">
            <h5>Plus</h5>
          </div>
          <div class="pricing-1-body">
            <h3>$24.95/month</h3>
            <h4><b>Trade Bot</b></h4>
            <h4><b>TradingView</b></h4>
            <h4 style="margin-bottom: 0px;"><b>Prediction Charts</b></h4>
            <h6 style="margin-top: 0px;"><b>(daily/weekly)</b></h6>
            <p>Get all strategy to use</p>
            <p>can buy using crypto</p>
            <p>ALL Exchange included and TradingView add-on</p>
            <p>Free Support 24/7</p>
            <p>Binance</p>
            <p><a class="btn btn-lg btn-pink" href="#">Purchase</a></p>

          </div>
        </div>
      </div>
      <div class="col-md-5" >
        <div class="pricing-1 wow fadeInUp">
          <div class="pricing-1-title">
            <h5><b>Extreme</b></h5>
          </div>
          <div class="pricing-1-body">
            <h3>$24.95/month</h3>
            <h4><b>Trade Bot</b></h4>
            <h4><b>TradingView</b></h4>
            <h4 style="margin-bottom: 0px;"><b>Prediction Charts</b></h4>
            <h6 style="margin-top: 0px;"><b>(monthly/yearly)</b></h6>
            <p>Get all strategy to use</p>
            <p>can buy using crypto</p>
            <p>ALL Exchange included and TradingView add-on</p>
            <p>Free Support 24/7</p>
            <p>Binance</p>
            <p><a class="btn btn-lg btn-pink" href="#">Purchase</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}