{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Profile {% endblock %}
{% block content %}
<header class="header-inner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="intro-text">
                    <h1 class="wow fadeInUp">Profile</h1>
                    <h6>User Profile</h6>
                </div>
            </div>
        </div>
    </div>
</header>
<style>
.add-img{position: absolute;bottom: 15px;margin: 0 auto;right: 69px;}
</style>
<!--<script src="{% static 'js/jquery.min.js' %}"></script>-->
<section class="section-padding-1">
    <div class="container">
        <div class="row justify-content-center" align="center">
            <div class="col-md-9">
                <form method="post" name="userprofileform" id="userprofileform">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                            <div class="form-group col-sm-2">
                                <div class="img-picker" onclick="changeProfilePicture()">
                                    <img id="profilepicture" onclick="" src="{% static 'images/blank-avatar-300x300.png' %}" class="rounded-circle img-thumbnail" alt="Cinque Terre" width="304" height="236">
                                    <input type="file" id="my_file" style="display: none;" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <input type="file" name="profileImage" id="profileImage" style="display: none;" onchange="readURL(this);">
							</div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="name">Name (Full name)</label>
                            <div class="col-md-6">
                                <div class="input-group col-md-12">
                                    <input id="name" name="name" type="text" value='{{ name }}'
                                           placeholder="Name (Full name)" class="form-control input-md">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-6 control-label" for="Email Address">Email Address</label>
                            <div class="col-md-6">
                                <div class="input-group col-md-12">

                                    <input id="Email Address" name="Email Address" type="text" value="{{ email }}"
                                           placeholder="Email Address" class="form-control input-md">

                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="Phone number ">Phone number </label>
                            <div class="col-md-6">
                                <div class="input-group col-md-12">
                                    <input id="Phone number " name="Phone number " type="text" value='{{ phone }}'
                                           placeholder="Primary Phone number " class="form-control input-md">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="Phone number "></label>
                            <div class="col-md-6">
                                <div class="input-group col-md-12">
                                    <input id="Phone number " name="Secondary Phone number " type="text" value='{{ phone2 }}'
                                           placeholder=" Secondary Phone number " class="form-control input-md">
                                </div>
                            </div>
                        </div>


                        <!-- Text input-->
                        <div class="form-group">
                            <!--<label class="col-md-6 control-label" for="Date Of Birth">Date Of Birth</label>-->
                                    <div class="col-md-6">
                                       <div class="input-group col-md-12">
                                        <input placeholder="Date Of Birth" class="form-control tsd_datepicker"
                                               id="datepicker" width="270" value='{{ dob }}'/>

                                </div>


                            </div>
                        </div>

                        <!-- Multiple Radios (inline) -->
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="Gender">Gender</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                <label class="radio-inline col-md-4" for="Gender-0">
                                    <input type="radio" name="Gender" id="Gender-0" value="1" checked="checked">
                                    Male
                                </label>
                                <label class="radio-inline col-md-4" for="Gender-1">
                                    <input type="radio" name="Gender" id="Gender-1" value="2">
                                    Female
                                </label>
                                <label class="radio-inline col-md-4" for="Gender-2">
                                    <input type="radio" name="Gender" id="Gender-2" value="3">
                                    Other
                                </label>
                            </div>
                            </div>
                        </div>

                        <!-- Multiple Radios (inline) -->

                        <div class="form-group">
                            <label class="col-md-6 control-label col-xs-12" for="Address">Address</label>
                             <div class="col-md-6">
                                <div class="input-group">
                                    <div class="col-md-6  col-xs-4">
                                        <input id="Address" name="Address" type="text"
                                               placeholder="District" class="form-control input-md ">
                                    </div>
                                    <div class="col-md-6 col-xs-4">
                                        <input id="Address" name="Address" type="text" placeholder="Area"
                                               class="form-control input-md ">
                                    </div>
                                </div>
                             </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-6 control-label" for="Address"></label>
                             <div class="col-md-6">
                                <div class="input-group">
                                    <div class="col-md-12  col-xs-4">
                                        <input id="Address" name="Address" type="text" placeholder="Street"
                                               class="form-control input-md " value='{{ address }}'>
                                    </div>
                                </div>
                             </div>
                        </div>


                        <!-- Text input-->
                        <div class="form-group">
                            <!--<label class="col-md-6 control-label" for="Primary Occupation">Primary Occupation</label>-->
                            <div class="col-md-6">
                                <div class="input-group col-md-12">
                                    <input id="Primary Occupation" name="Primary Occupation" type="text" value='{{ occupation }}'
                                           placeholder="Primary Occupation" class="form-control input-md">
                                </div>


                            </div>
                        </div>

                        <!-- Text input-->
                        <!--<div class="form-group">-->
                            <!--&lt;!&ndash;<label class="col-md-6 control-label" for="Secondary Occupation (if any)">Secondary&ndash;&gt;-->
                                <!--&lt;!&ndash;Occupation (if any)</label>&ndash;&gt;-->
                            <!--<div class="col-md-6">-->
                                <!--<div class="input-group col-md-12">-->
                                    <!--<input id="Secondary Occupation (if any)" name="Secondary Occupation (if any)"-->
                                           <!--type="text" placeholder="Secondary Occupation (if any)"-->
                                           <!--class="form-control input-md">-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="Overview (max 200 words)">Overview (max 200
                                words)</label>

                            <div class="col-md-6">
                                <div class="input-group col-md-12">
                                <textarea class="form-control" rows="10" id="Overview (max 200 words)"
                                          name="Overview (max 200 words)" value='{{ overview }}'>Overview</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label"></label>
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-md btn-pink wow tada" id="submit" value="Submit">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
<!--<script>-->
<!--$("input[type='image']").click(function() {-->
    <!--$("input[id='my_file']").click();-->
<!--});-->

<!--function changeProfilePicture(){-->
<!--&lt;!&ndash;alert('changeProfilePicture')&ndash;&gt;-->
<!--};-->
<!--&lt;!&ndash;$(document).ready(function() {&ndash;&gt;-->
    <!--&lt;!&ndash;$('.img-picker').imagePicker({name: 'images'});&ndash;&gt;-->
<!--&lt;!&ndash;})&ndash;&gt;-->
<!--</script>-->
{% endblock %}