{% extends 'base.html' %}
{% load staticfiles %}
    {% block title %} Features and Benefits {% endblock %}
    {% block content %}
<header class="header-inner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="intro-text">
          <h1 class="wow fadeInUp">Features and Benefits</h1>
          <h6>Home / Features and Benefits</h6>
        </div>
      </div>
    </div>
  </div>
</header>
<style>
table {
    font-family: arial, sans-serif;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}
table, tr, td {
    border: none;
}


</style>
<section class="section-padding-1">
  <div class="container">
    <table>
      <tr>
        <td>
          <div class="col-md-10">
        <div class="services2-cont wow fadeInUp">
          <div class="services2-no">1</div>
          <div class="services2-text">
            <h5>Trade Bot</h5>
            <!--<p>Lorem Ipsum is simply dummy text of the printing and</p>-->
          </div>
        </div>
      </div>
        </td>
        <td>
          <div class="col-md-10">
        <div class="services2-cont wow fadeInUp" data-wow-delay=".1s">
          <div class="services2-no">2</div>
          <div class="services2-text">
            <h5>Trading View Charts</h5>
            <!--<p>Lorem Ipsum is simply dummy text of the printing and</p>-->
          </div>
        </div>
      </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="col-md-10">
        <div class="services2-cont wow fadeInUp" data-wow-delay=".2s">
          <div class="services2-no">3</div>
          <div class="services2-text">
            <h5>Prediction Charts</h5>
            <!--<p>Lorem Ipsum is simply dummy text of the printing and</p>-->
          </div>
        </div>
      </div>
        </td>
        <td>
          <div class="col-md-10">
      <div class="services2-cont wow fadeInUp" data-wow-delay=".3s">
        <div class="services2-no">4</div>
        <div class="services2-text">
          <h5>Account Management Software</h5>
          <!--<p>Lorem Ipsum is simply dummy text of the printing and</p>-->
        </div>
      </div>
    </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="col-md-10">
        <div class="services2-cont wow fadeInUp" data-wow-delay=".4s">
          <div class="services2-no">5</div>
          <div class="services2-text">
            <h5>Standard Supported Strategies</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and</p>
          </div>
        </div>
      </div>
        </td>
        <td>
          <div class="col-md-10">
        <div class="services2-cont wow fadeInUp" data-wow-delay=".5s">
          <div class="services2-no">6</div>
          <div class="services2-text">
            <h5>Supported Marketplaces and Trading Pairs</h5>
            <p>Lorem Ipsum is simply dummy text of the printing and</p>
          </div>
        </div>
      </div>
        </td>
      </tr>
    </table>
    <div class="row">


    </div>
    <div class="row"


    </div>
    <div class="row"


    </div>
  </div>
</section>
<section class="section-counter">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="counter-cont">
          <h2><span class='numscroller' data-min='3' data-max='850' data-delay='10' data-increment='10'>850</span>+</h2>
          <h5>Existing Buyers</h5>
        </div>
      </div>
      <div class="col-md-3">
        <div class="counter-cont">
          <h2><span class='numscroller' data-min='3' data-max='650' data-delay='10' data-increment='10'>650</span>+</h2>
          <h5>Existing Buyers</h5>
        </div>
      </div>
      <div class="col-md-3">
        <div class="counter-cont">
          <h2><span class='numscroller' data-min='3' data-max='550' data-delay='10' data-increment='10'>550</span>+</h2>
          <h5>Existing Buyers</h5>
        </div>
      </div>
      <div class="col-md-3">
        <div class="counter-cont">
          <h2><span class='numscroller' data-min='3' data-max='450' data-delay='10' data-increment='10'>450</span>+</h2>
          <h5>Existing Buyers</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<section class="section-padding-1">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--<table class="table table-striped table-hover table-bordered">-->
        <!--<tbody>-->
            <!--<tr>-->
                <!---->
                <!--<th class="border-0">Package Name</th>-->
                <!--<th class="border-0">Price</th>-->
                <!--<th class="d-none d-md-block border-0">Features</th>-->
                <!--<th class="border-0">Action</th>-->
            <!--</tr>-->
            <!--<tr>-->
               <!---->
                <!--<td class="border-0"><strong>Monthly</strong></td>-->
                <!--<td class="border-0">£49.00</td>-->
                <!--<td class="d-none d-md-block border-0">RTL Support / Theme Option / Free Support / One Click Demo Import</td>-->
                <!--<td class="border-0"><p><a class="btn btn-sm btn-pink" href="#">Purchase</a></p></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!---->
                <!--<td class="border-0"><strong>Yearly</strong></td>-->
                <!--<td class="border-0">£149.00</td>-->
                <!--<td class="d-none d-md-block border-0">RTL Support / Theme Option / Free Support / One Click Demo Import</td>-->
                <!--<td class="border-0"><p><a class="btn btn-sm btn-green" href="#">Purchase</a></p></td>-->
            <!--</tr>-->
            <!---->
        <!--</tbody>-->
    <!--</table>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
{% endblock %}